<div ng-controller="LikeCtrl">
<ion-content>
<ion-refresher on-refresh="refresh()"></ion-refresher>
<div ng-repeat="dress in dresses">
	

	

<div class="list card">

  <div class="item item-avatar">
    <img ng-src="images/{{dress.botique_image}}" width="100px;" height="100px;" />
    <h2>{{dress.botique_name}}</h2>
    <p>November 05, 1955</p>
  </div>

  <div class="item item-body">
   <img ng-src="images/{{dress.image}}"  width="310px;" />
    {{dress.details}}
    <p>
      <a href="#" class="subdued">{{liked}} {{likeCount}}</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item"  ng-click="likeClick()" ng-init="liked='Like'; likeCount=0">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>

</div>
</div>
</ion-content>
</div>